@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 24px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* SVG Icon Styles */
nav svg {
  width: 24px;
  height: 11px;
  fill: #2D314D; 
  cursor: pointer;
  margin-left: 20px; 
  transition: fill 0.3s ease;
}

/* Hover Effect for SVG Icon */
nav svg:hover {
  opacity: 0.7; 
}

.request-invite {
  background: linear-gradient(90deg,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.9s ease-in; 
}

.request-invite:hover {
  opacity: 0.8; /* I changed it because only opacity gave the closest thing to the colors shown when active the background color was not needed*/
}

/* Change SVG on Button Hover */
.request-invite:hover ~ nav svg {
  fill: #a2e8e4; 
}

/* Main Section Styles */
main {
  padding-left: 10%;
}

/* Hero Section Styles */
.hero{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.hero .text-section{
  width: 45%;
}

.hero .text-section h1{
  margin-bottom: 30px;
  font-size: 40px;
}

.hero .text-section p{
  font-size: 0.9rem;
  color: #737373;
  margin-bottom: 30px;
}

.hero .text-section button{
  border-radius: 15px;
  background: linear-gradient(90deg,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  padding: 10px 25px;
  color: #fff;
  cursor: pointer;
  transition: background 0.9s ease-in; 
}

.hero .text-section button:hover{
  opacity: 0.7;
}

.hero .easy-images{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero .easy-images .bottom-image{
  width: 100%;
  position: relative;
  z-index: 1;
  left: 15%;
  top: -15%;
  transform: translate(-5%, -25%);
  
}

.hero .easy-images .top-image{
  position: absolute;
  z-index: 2;
  right: -10%;
  overflow: hidden;
}

/* Features Section Styles */
.features {
  /* Insert your code here */
}

/* Articles Section Styles */
.articles {
  /* Insert your code here */
}

/* Form Section Styles */
.form {
  /* Insert your code here */
}

/* Footer Styles */
footer {
  /* Insert your code here */
}
